#cartTable {
  border-collapse: collapse;
}

table {
  /* margin: 10px; */
  margin: 0;
  border-radius: 16px;
}

#cartTable td {
  background-color: #313131;
  border: 1px solid #5b5b5b;
  padding: 20px;
}

#orderSummary tr {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #5b5b5b;
  padding-top: 10px;
  padding-bottom: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 70px;
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
